html {
  font-size: 14px;
  
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  
}

body {
    margin-bottom: 110px;
    width: 100%;
    background-image: url("../Images/5037896.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    color:lightgrey;
    scroll-behavior:smooth;
}

footer{
    box-sizing:border-box;
}

.imgcontainer{
    display:block;
    text-align:center;
}

.imgcontainer img{
    height:50px;
}

.button{
    text-align:center;
    margin-top:5px;
}

.contentbox{
    margin:5px 0 5px 0;
}

.logo {
    width: 50px;
    margin:auto;
    margin-top: 2px;
}


.container-sm{
    width: 800px;
}

.card {
    width: 500px;
    margin: 10px auto;
    background-color:darkgray;
    border: solid 3px white;
    padding: 5px;

    
}

.dropdownsite{
    width:500px;
    margin: 0 auto;
}

.pagecontainer{
    width:auto;
    background-color:darkgray;
    height:800px;
    margin: 0 auto;
    color:black;
}

.tablepage{
    width:auto;
    table-layout:fixed;
}


.minilogo1{
    width:20px;
    position:relative;
    top: 32px;
    left:-159px;

}

.minilogo2 {
    width: 20px;
    position: relative;
    top: -34px;
    left:159px;

}

.trash{
    width:20px;
}

.cardOrders {
    width: 600px;
    margin: 10px auto;
    background-color: darkgray;
    border: solid 3px white;
    padding: 5px;
}

.dropdownkeuze{
    width:500px;
    margin: 0 auto;
}

.pagecontainerkeuze {
    width: auto;
    background-color: darkgray;
    height: 700px;
    margin: 0 auto;
    color: black;
}


.container-fluid{
    margin: 10px 0;
    text-align:center;
}