@model Tickets.ViewModel.DeleteVM
@{
    ViewData["Title"] = "DeleteTicket";
}


<div class="pagecontainer">
    <h1>Ticket nummer @Model.TicketID voor zitje @Model.PlaatsID is geannuleerd.</h1>
    <p>Bedankt om met ons samen te werken en hopelijk kunnen we u in de toekomst terug van dienst zijn.</p>
</div>


